<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="section-heading">My Career Profile</h2>
                <hr class="light" align="left">
                <p class="text-white">

                I am currently working as Head of Robotic Integration at <a class="text-faded" href="https://magazino.eu">Magazino GmbH</a>, where I lead a team of 10+ engineers in the design and development of autonomous robots. My responsibilities include overseeing robot architecture, behavior development, and product quality assurance.<br><br>

                With over 10 years of experience in the field, I am proficient in programming with Python, C++, and Prolog using ROS. I hold a degree in Physics from <a class="text-faded" href="https://www.uniroma1.it/en/">Sapienza University of Rome</a> and the <a class="text-faded" href="https://www.unipi.it/index.php/english">University of Pisa</a>, and a PhD in Robotics and Artificial Intelligence from <a class="text-faded" href="https://www.uniroma1.it/en/">Sapienza University of Rome</a>. During my PhD, I spent a year as a visiting scholar at <a class="text-faded" href="https://www.cmu.edu/">Carnegie Mellon University</a>.<br><br>

                My academic background includes 20+ publications and 2 patents, and I have participated in various European projects. Additionally, I have served as senior program committee, program committee, and reviewer for various international conferences and European projects.<br><br>
                
                I have always been fascinated by the question of how a machine, being it a single robot or a multi robot system, can be endowed with an intelligent behavior that allows it to learn and reason about how to act in a complex world. Such a question holds many implicit interrogations that, I believe, humankind needs to, at least, attempt giving an answer: What do we mean with the adjective intelligent? What gives to a specific entity such an attribute? Will we ever be able to instill such a trait in a machine? I would like to spend my life contributing to solve such interrogations.
                </p>
                <!--
                <a href="/about/" class="btn btn-default btn-xl">Still curious?</a>
                --!>
            </div>
        </div>
    </div>
</section>

