<section class="no-padding" id="portfolio">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <br><br>
            <h2 class="section-heading">Some of My Works, Projects, and Contributions</h2>
            <hr class="primary">
        </div>
    </div>
  </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/iocchi/PetriNetPlans" class="portfolio-box">
                    <img src="img/portfolio/pnp.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Petri Net Plans
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=4nLjuLhFUvk" class="portfolio-box">
                    <img src="img/portfolio/baxter.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Multi-Robot Task Acquisition through Sparse Coordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=KiG7NG0J0OI&list=PLMGKcftcn4XZc3MNJTRLcbsjQmx25CL3f&index=11" class="portfolio-box">
                    <img src="img/portfolio/sapienzbot.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Semantic Mapping
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=nFI_zlDxHZI&list=PLMGKcftcn4Xa_wU0muaf2IH-iIgUATVTn" class="portfolio-box">
                    <img src="img/portfolio/nao.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robocup 2013 SPL
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="Files/MSCThesis.pdf" class="portfolio-box">
                    <img src="img/portfolio/msc.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                MSc Thesis: Study of the Readout System of a Microcapillary Position Detector Filled with Scintillating Liquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="Files/BacThesis.pdf" class="portfolio-box">
                    <img src="img/portfolio/bsc.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                BSc Thesis: Numerical Resolution of the Unidimensional Schrödinger Equation (ITA)
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            -->
        </div>
    </div>
</section>
