<section class="no-padding" id="portfolio">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <br><br>
            <h2 class="section-heading">Selected work</h2>
            <hr class="primary">
            <p class="section-intro">A curated selection of research, industrial systems, open-source contributions, and long-form work.</p>
        </div>
    </div>
  </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="{{ '/jh-robotics-nix/' | relative_url }}" class="portfolio-box">
                    <img src="{{ '/img/portfolio/jh-nix.png' | relative_url }}" class="img-responsive" alt="NixOS-themed illustration for robotics infrastructure work" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Nixifying a robotics stack
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=R-jDYvZLctU" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/eae.jpg' | relative_url }}" class="img-responsive" alt="EAE robot at LogiMAT 2023" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                EAE robot
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.aiplan4eu-project.eu/" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/Aiplan4EU.png' | relative_url }}" class="img-responsive" alt="AIPlan4EU project visual" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                AIPlan4EU
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.iks.fraunhofer.de/en/publications/whitepapers-studies/whitepaper-devops-cyber-physical-systems.html" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/RoboDevOps.png' | relative_url }}" class="img-responsive" alt="RoboDevOps whitepaper cover" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                RoboDevOps
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=LX86Kj5-U3I" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/soto.jpg' | relative_url }}" class="img-responsive" alt="SOTO robot demo" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                SOTO
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=1FGD0V1_jPE" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/acros.png' | relative_url }}" class="img-responsive" alt="ACROS.AI project snapshot" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                ACROS.AI
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/yuce/pyswip" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/pyswip.png' | relative_url }}" class="img-responsive" alt="PySwip project logo" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                PySwip
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://wiki.ros.org/diagnostics" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/diagnostics.png' | relative_url }}" class="img-responsive" alt="ROS Diagnostics project icon" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                ROS Diagnostics
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=GkgxTrbMg0s" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/toru.jpg' | relative_url }}" class="img-responsive" alt="TORU robot demonstration" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                TORU
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ '/files/PhD.pdf' | relative_url }}" class="portfolio-box">
                    <img src="{{ '/img/portfolio/phd.png' | relative_url }}" class="img-responsive" alt="Cover of PhD thesis" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                PhD Thesis: Knowledgeable Robots Through Multimodal HRI
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/iocchi/PetriNetPlans" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/pnp.png' | relative_url }}" class="img-responsive" alt="Petri Net Plans project graphic" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Petri Net Plans
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=4nLjuLhFUvk" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/baxter.png' | relative_url }}" class="img-responsive" alt="Baxter multi-robot task acquisition demo" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Multi-Robot Task Acquisition through Sparse Coordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=KiG7NG0J0OI&list=PLMGKcftcn4XZc3MNJTRLcbsjQmx25CL3f&index=11" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/sapienzbot.png' | relative_url }}" class="img-responsive" alt="Semantic mapping robot demo" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Semantic Mapping
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=nFI_zlDxHZI&list=PLMGKcftcn4Xa_wU0muaf2IH-iIgUATVTn" class="portfolio-box" target="_blank" rel="noopener">
                    <img src="{{ '/img/portfolio/nao.png' | relative_url }}" class="img-responsive" alt="RoboCup 2013 SPL robot image" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robocup 2013 SPL
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="{{ '/files/MSCThesis.pdf' | relative_url }}" class="portfolio-box">
                    <img src="{{ '/img/portfolio/msc.png' | relative_url }}" class="img-responsive" alt="Cover of MSc thesis" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                MSc Thesis: Study of the Readout System of a Microcapillary Position Detector Filled with Scintillating Liquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ '/files/BacThesis.pdf' | relative_url }}" class="portfolio-box">
                    <img src="{{ '/img/portfolio/bsc.png' | relative_url }}" class="img-responsive" alt="Cover of BSc thesis" loading="lazy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                BSc Thesis: Numerical Resolution of the Unidimensional Schrödinger Equation (ITA)
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
