<section class="no-padding" id="portfolio">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <br><br>
            <h2 class="section-heading">Some of My Works, Projects, and Contributions</h2>
            <hr class="primary">
        </div>
    </div>
  </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.aiplan4eu-project.eu/" class="portfolio-box">
                    <img src="img/portfolio/Aiplan4EU.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                AIPlan4EU
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.iks.fraunhofer.de/en/publications/whitepapers-studies/whitepaper-devops-cyber-physical-systems.html" class="portfolio-box">
                    <img src="img/portfolio/RoboDevOps.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                RoboDevOps
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=LX86Kj5-U3I" class="portfolio-box">
                    <img src="img/portfolio/soto.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                SOTO
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=1FGD0V1_jPE" class="portfolio-box">
                    <img src="img/portfolio/acros.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                ACROS.AI
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/yuce/pyswip" class="portfolio-box">
                    <img src="img/portfolio/pyswip.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                PySwip
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://wiki.ros.org/diagnostics" class="portfolio-box">
                    <img src="img/portfolio/diagnostics.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                ROS Diagnostics
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=GkgxTrbMg0s" class="portfolio-box">
                    <img src="img/portfolio/toru.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                TORU
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="files/PhD.pdf" class="portfolio-box">
                    <img src="img/portfolio/phd.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                PhD Thesis: Knowledgeable Robots Through Multimodal HRI
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/iocchi/PetriNetPlans" class="portfolio-box">
                    <img src="img/portfolio/pnp.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Petri Net Plans
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=4nLjuLhFUvk" class="portfolio-box">
                    <img src="img/portfolio/baxter.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Multi-Robot Task Acquisition through Sparse Coordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=KiG7NG0J0OI&list=PLMGKcftcn4XZc3MNJTRLcbsjQmx25CL3f&index=11" class="portfolio-box">
                    <img src="img/portfolio/sapienzbot.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Semantic Mapping
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=nFI_zlDxHZI&list=PLMGKcftcn4Xa_wU0muaf2IH-iIgUATVTn" class="portfolio-box">
                    <img src="img/portfolio/nao.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robocup 2013 SPL
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="files/MSCThesis.pdf" class="portfolio-box">
                    <img src="img/portfolio/msc.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                MSc Thesis: Study of the Readout System of a Microcapillary Position Detector Filled with Scintillating Liquid
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="files/BacThesis.pdf" class="portfolio-box">
                    <img src="img/portfolio/bsc.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                BSc Thesis: Numerical Resolution of the Unidimensional Schrödinger Equation (ITA)
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            -->
        </div>
    </div>
</section>
