<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include blog_head.html -%}

  <body>

    {%- include blog_header.html -%}

    <!-- Back to top button -->
    <script src="{{ '/js/vanilla-back-to-top.min.js' | relative_url }}"></script>
    <script>addBackToTop()</script>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include blog_footer.html -%}

  </body>

</html>
